<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weixiaokang.locationrecord" >

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="862c59ea9762ea36b85bc1ac20042d79" />

        <activity
            android:name="com.weixiaokang.locationrecord.MyActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver android:name="com.weixiaokang.locationrecord.receiver.SMSreceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.weixiaokang.locationrecord.service.DataService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.weixiaokang.locationrecord.WeatherActivity"
            android:label="@string/title_activity_weather" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weixiaokang.locationrecord.DataActivity"
            android:label="数据中心" >
        </activity>
        <activity
            android:name="com.weixiaokang.locationrecord.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.weixiaokang.locationrecord.NaviActivity"
            android:label="@string/title_activity_navi" >
        </activity>
        <activity
            android:name="com.weixiaokang.locationrecord.RouteActivity"
            android:label="@string/title_activity_route" >
        </activity>
        <activity
            android:name="com.weixiaokang.locationrecord.NaviCustomActivity"
            android:label="@string/title_activity_navi_custom" >
        </activity>
    </application>

</manifest>
